matplotlib==3.5.1
numpy==1.22.2
onnxruntime==1.17.1
opencv-python==4.5.4.60
pyinstaller==6.10.0
scikit-learn==1.1.1
toga==0.5.0
tqdm==4.64.0
platformdirs==4.2.0
dmgbuild==1.6.0
timm==1.0.9
torch==2.2.2