matplotlib==3.10.6
numpy<2.0.0
onnxruntime==1.23.0
onnxruntime-gpu==1.23.0; platform_system != "Darwin" and platform_machine not in "aarch64, arm64"
opencv-python>=4.0.0
pyinstaller==6.16.0
scikit-learn==1.7.2
pygobject==3.50.0; platform_system == "Linux"
toga==0.5.2
desktop-notifier==6.2.0
tqdm==4.67.1
platformdirs==4.4.0
timm==1.0.20
dmgbuild==1.6.5; platform_system == "Darwin"
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu; platform_system == "Linux" and platform_machine not in "aarch64, arm64"
torch==2.2.0; platform_system != "Linux" or platform_machine in "aarch64, arm64"